.notelist {
	background: var(--col-bg-2);
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 1.2em;
	width: 15em;
}

/* .notelist > * {
	padding: 1em 1em 1em 1em;
	height: calc(3em);
	width: 10em;
	border-bottom: 2mm solid;
	border-image: linear-gradient(
			to right,
			#bcbcbc 0%,
			#bcbcbc 25%,
			#ffcd02 25%,
			#ffcd02 50%,
			#e84f47 50%,
			#e84f47 75%,
			#65c1ac 75%,
			#65c1ac 100%
		)
		5;

	line-height: 1em;
	vertical-align: middle;
}

.notelist > *::after {
	content: '';
	display: block;
	position: relative;
	top: calc(-2em);
	left: -1em;
	background: rgba(0, 0, 0, 0.2);
	clip-path: circle(0%);
	height: 3em;
	transition: clip-path 0.3s;
	width: calc(10em);
}

.notelist > *:hover::after {
	clip-path: circle(75%);
} */
